:root {
    --ion-background-color: #ffffff;
    --ion-text-color: #000000;
  
    --ion-color-primary: #3880ff;
    --ion-color-primary-contrast: #ffffff;
  
    // Outros temas e elementos se quiser
  }
  
  body.dark {
    --ion-background-color: #121212;
    --ion-text-color: #ffffff;
  
    --ion-color-primary: #bb86fc;
    --ion-color-primary-contrast: #000000;
  
    --ion-card-background: #1e1e1e;
  }
  