<ion-header>
  <ion-toolbar>
    <ion-title>Livros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ng-container *ngIf="!livroSelecionado">

  <ion-card *ngFor="let livro of livros">

    <img [src]="livro.cover" alt="Capa do Livro">

    <ion-card-header>
    <ion-card-title>{{livro.title}}</ion-card-title>
    <ion-card-subtitle> Lançado em: {{livro.releaseDate}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <p>{{livro.description}}</p>
    <ion-button expand="block" (click)="mostrarDetalhes(livro)">Detalhes do Livro</ion-button>

  </ion-card-content>

</ion-card>
</ng-container>

<ng-container *ngIf="livroSelecionado">
  <ion-card>
    <img [src]="livroSelecionado.cover" alt="Capa do Livro">
    <ion-card-header>
      <ion-card-title>{{ livroSelecionado.title }}</ion-card-title>
      <ion-card-subtitle>Lançado em: {{ livroSelecionado.releaseDate }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>{{ livroSelecionado.description }}</p>
      <ion-button expand="block" color="success" (click)="salvarFavorito()">Salvar como favorito</ion-button>
      <ion-button expand="block" color="medium" (click)="voltarLista()">Voltar</ion-button>
    </ion-card-content>
  </ion-card>
</ng-container>
</ion-content>


